<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui container ">
  <form class="ui form">
    <h3 class="ui top header center aligned dividing">New Plan</h3>
    <div class="field">
      <label>Name</label>
      {{input value=model.plan.name type='text' placeholder='Enter name for the plan'}}
    </div>
    {{#if includeItem}}
    <div class="two fields">
      <div class="field">
        {{input type='text' value=model.item.name placeholder='Enter item name'}}
      </div>
      <div class="field">
        {{ui-checkbox checked=model.item.done}}
        <label>Done</label>
      </div>
    </div>
    {{/if}}
    <div class="ui buttons">
      <button class="ui teal button" {{action 'addItem'}}><i class="add circle icon"></i>Add items</button>
      <div class="or"></div>
      <button class="ui basic positive button" {{action "savePlan"}}><i class="save circle icon"></i>Save</button>
    </div>
  </form>
</div>
