{{#each model as |list|}}
<div class="ui fluid card">
  <div class="content">
    <div class="ui block header">
      <span class="right floated">{{list.date_created}}</span>
      {{#link-to 'bucketlists.show' list}}{{list.name}}{{/link-to}}
      <div class="meta">
        {{list.itemCount}} item(s)
      </div>
    </div>
    <div class="description">
      <div class="ui relaxed divided list">
        {{#each list.items as |item|}}
        {{partial 'bucketlists/_card'}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button"><i class="add circle icon"></i>Add item</div>
      <div class="ui basic red button" {{action 'delete' list}}><i class="trash icon"></i>Delete list</div>
    </div>
  </div>
</div>
{{/each}}
