{{#each model as |list|}}
<div class="ui fluid card">
  <div class="content">
    <div class="ui block header">
      <span class="right floated">{{list.date_created}}</span>
      {{#link-to 'bucketlists.show' list}}{{list.name}}{{/link-to}}
      <div class="meta">
        {{list.itemCount}} item(s) 
      </div>
    </div>
    <div class="description">
      <div class="ui relaxed divided list">
        {{#each list.items as |item|}}
        <div class="item">
          {{bucketlists.manage-item item=item}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="extra content">
    {{bucketlists.add-delete list=list}}
  </div>
</div>
{{/each}}
